<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://th.bing.com/th/id/OIP.NIjXZntkjv7z4e06Gm5sRwHaE7?rs=1&pid=ImgDetMain" alt="" height="264px"
      srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque amet delectus earum magni eveniet omnis nemo
        praesentium corrupti vero quis, eaque voluptatum voluptatem commodi perferendis minus? Modi maiores voluptatum
        animi.
      </a>
    </p>
  </div>
</div>
