/* Você pode adicionar estilos globais a este arquivo e também importar outros arquivos de estilo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
  font-family: 'Segoe UI';
}

a {
  text-decoration: none;
}
